* {
  margin: 0;
  box-sizing: border-box;

}

/* ---------------- Navbar and burger menu ------------------ */
nav{
  width: 100%;
  height: 79px;
  display: flex;
  justify-content: flex-start;
  padding: 1em;
  
}




.burger-menu {
  height: 100%;
  width: 4em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
 
  

}

.burger-bar {
  width: 50px;
  height: 0.5em;
  background-color: rgb(255, 166, 0);
  border-radius: 0.5em;
  position:static;
}

.menu {
  width: 300px;
  height: 30vh; 
  background-color: rgb(209, 207, 204);
  top: 10;
  z-index: -1;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  
}

.list {
  color:#44280d;
  display:flex;
  font-size: 45px;
  text-decoration: none;
  padding-top: 7px;
  padding-left: 10px;
  justify-content: center;
  align-items: center;
  li {
    list-style-type: none;
  }
  
 }

/* ------------- sliding menu ------------------ */
.hidden {
  display: none;
  
  
}

.visible {
  display: inherit;
  
  
  
}

/* ----- animations--------- */
/* clicked */
.burger-bar.clicked:nth-child(1){
  transform: rotate(45deg) translate(0.75em, 1.25em);
  transition: ease-out 0.5s;
  background-color: red;
}

.burger-bar.clicked:nth-child(2){
  transform: scale(0.1);
  transition: ease-out 0.5s;
  background-color: red;
}

.burger-bar.clicked:nth-child(3){
  transform: rotate(135deg) translate(-0.5em, 1em);
  transition: ease-out 0.5s;
  background-color: red;
}

/* unclicked */
.burger-bar.unclicked {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;

 
  
  
}
@media (max-width: 768px){
  .list {
    color:#42270d;
    border-right: 2px solid white; 
    display:flex;
    font-size: 30px;
    text-decoration: none;
    padding-left: 10px;
    justify-content: center;
    align-items: center;
    li {
      list-style-type: none;
    }
    
   }

   .burger-menu {
    height: 100%;
    width: 3em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
    
    
  }
  .menu {
    width: 100%;
    height: 25vh;
    background-color: rgb(209, 207, 204);
    top: 10;
    z-index: -1;
    margin-right: 20px;
    
    
  }
 
}


