

.container-schedule {
  width: 100%;
  height: 1366px;
  display: flex;
  align-items: center;
  justify-content: start;

}
.container-title-agenda{
  width: 100%;
  height: 200px;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-schedule h1 {
  font-size: 40px;

}

.container-date {
  width: 100%;
  display: flex;
  justify-content:flex-start;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  height: 250px;
  


}

.date {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  
 

}
.local {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 150px;
}

Bio.h2{
  font-size: 120px;
}

Bio.h3{
  font-size: 90px;
}

@media (max-width: 768px) {
  
  
  .container-schedule {
    width: 100%;
    height: 730px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    
  }

  .container-title-schedule{
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container-mes-ano{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container-mes-ano h3{
    font-size: 20px;
  }
  
  .container-border-botton-white{
    width: 100%;
    height: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }

  .container-border-botton-gray{
    width: 80%;
    height: 5px;
    background-color: rgb(216, 216, 216);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container-border-botton-orange{
    width: 40%;
    height: 5px;
    background-color: rgb(252, 61, 61);
    border-radius: 30px;
  }

  .container-adress{
    width: 100%;
    height: 75px;
    display: flex;
    align-items:start;
    justify-content:center;
  
  }

  .container-day-month-adress{
    width: 60%;
    height: 35px;
    background-color: rgb(112, 61, 252);
    border-radius: 5px;
    display: flex;

  }

  .container-day{
    width: 45%;
    height: 35px;
    background-color: rgb(143, 104, 252);
    display: flex;
    align-items:center;
    justify-content: center;
    border-radius:   5px 0 0 5px;
    
    

    
  }

  .container-day h3{
    color: white;
    font-size: 25px;
  }

  .container-month{
    width: 55%;
    height: 35px;
    background-color: rgb(187, 165, 248);
    display: flex;
    align-items:center;
    justify-content: center;
    border-radius: 0 05px 05px 0 ;
    

  }

  .container-month h3{
    color: white;
    font-size: 25px;
  }
  
}