
.container-home{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}

.img-logo {
  width: 100%;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 67px;

}
.logo {
  width: 1080px;

}


.img-home {
  width: 100%;
  height: 1000px; 
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.home{
  width: 1460px;
  height: 1000px; 
  align-items: center;
  justify-content: center;

}
/* Menu sanduiche */

@media (max-width: 968px) {

  
.container-home {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: url('./images/fundositelogo.webp');
  background-size: cover;      
  background-position: center; 
  background-repeat: no-repeat;
}
 
  .img-logo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content:center;
    align-items: center;
    
    
 
    
    
  }
  .logo {
    margin-top: 30px;
    width: 87%;

   

  }
  
  .img-home {
    width: 100%;
    height: 280px;
    display: flex;
    align-items: end;
   
  }
  
  .home{
    width: 100%;
    height: 250px;
   

  }

  .container-home{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
  }
 
}