
.container-home{
  width: 100%;
  height: 950px;
  align-items: center;
  justify-content: center;
 
}

.img-logo {
  width: 100%;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 67px;

}
.logo {
  width: 580px;
  height: 250px;

}


.img-home {
  width: 100%;
  height: 1000px; 
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.home{
  width: 1460px;
  height: 1000px; 
  align-items: center;
  justify-content: center;

}
/* Menu sanduiche */

@media (max-width: 768px) {
 
  .img-logo {
    width: 100%;
    height: 255px;
    display: flex;
    justify-content:center;
    align-items: center;
    
    
 
    
    
  }
  .logo {
    width: 95%;
    height: 185px;
    padding-left: 10px;

   

  }
  
  
  .img-home {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: end;
   
  }
  
  .home{
    width: 100%;;
    height: 330px;
    display: flex;
    justify-content: end;

  }

  .container-home{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
  }
 
}