.container-bio {
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: rgb(245, 188, 81);
}

.container-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90px;
  font-size: 40px;
  margin-bottom: 50px;
  padding: 50px;
}

.container-biograph {
  width: 100%;
  height: 480px;

}

.container-text {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px; 
}




h2{
  color: #44280d;
  font-size: 25px;
}

h3{
  font-size: 20px;
  color: #44280d;
}

p{
  font-size: 30px;
  color: #44280d;
  text-align: center; 
}

.container-cards {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-evenly;
}

/* Mobile */

@media (max-width: 768px) {
  .container-bio {
    width: 100%;
    height: 3250px; 
    background-color: rgb(245, 188, 81);
   }
  .container-biograph {
    width: 100%;
    height: 2180px;
  }
  .container-text {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px; 
  }
  .container-title {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title-bio {
    width: 100%;
    height: 40px;
    }
   .container-cards {
    width: 100%;
    height: 2800px;
    flex-direction: column;
    }
  .container-title h1{
    font-size: 30px;
    color: #020202;
  }
  p {
    font-size: 20px;
    text-align: center;
    color: #020202;
  }
  


}